<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>FORM-F</h2>
      <p>[See provison to Section 4(3), rule 9(4) and rule 10(1A)]</p>
      <p>(New amended on 4th February, 2014 notified on 31st January 2014)</p>
      <p><strong>FOR MAINTENANCE OF RECORD IN CASE OF PRENATAL DIAGNOSTIC TEST / PROCEDURE BY GENETIC CLINIC / ULTRASOUND CLINIC / IMAGING CENTRE</strong></p>
       <button class="btn btn-dark" routerLink="/form-f" (click)="onClickForm()">Click to add a details in form-F</button>
    </div>
    <div class="col-md-12 list-item-container" *ngIf="formArray.length > 0">
      <h4>Details of members who submitted form-F</h4>
      <div class="card">
      <div *ngFor = "let form of formArray" class="card card-body">
        <div class="edit-btn-container">
        <p *ngIf="form.sectionA.patientname">Patient name: <span>{{form.sectionA.patientname}} <button class="btn-sm plus-btn"
          data-toggle="tooltip" data-placement="left" title="Click to expand/collapse data"
          (click)="form.expand = !form.expand">
          <i [ngClass]="form.expand ? 'fa fa-minus':'fa fa-plus'"></i></button></span> </p>
        <div>
          <div class="media-large d-none d-md-block">
            <button class="btn btn-outline-primary btn-sm" (click)="formService.populateForm(form)">Update</button>
            <button class="btn btn-outline-danger btn-sm" (click)="onDelete(form.$key)">Delete</button>
          </div>
          <div class="media-small d-md-none">
            <button class="edit btn-sm" (click)="formService.populateForm(form)"><i class="fa fa-pencil"></i></button>
            <button class="delete btn-sm" (click)="onDelete(form.$key)"><i class="fa fa-trash"></i></button>
          </div>
      </div>
      </div>
        <div *ngIf="form.expand == true">
          <p>Age:<span> {{form.sectionA.age}}</span> </p>
          <p>Husband's/Wife's/Father's/Mother's name:<span> {{form.sectionA.otherName}}</span></p>
          <p>Name and address of the Genetic clinic/ image center :<span> {{form.sectionA.nameandAddress}}</span></p>
          <p>Registration no:<span> {{form.sectionA.regdNo}}</span></p>
          <p>Name of the doctor performig procedure/s:<span> {{form.sectionB.docter_name}}</span></p>
          <p>History of genetic/medical disease:<span> {{form.sectionC.geneticHistory}}</span></p>
          <p>Doctor name:<span> {{form.sectionC.doctorName}}</span></p>
          <p>Date on which consent of person was obtained in form-G:<span> {{form.sectionC.pregnantWomanConsentDate | date}}</span></p>
          <p>Date of the procedure was completed:<span> {{form.sectionD.date4 | date}}</span></p>
          <h6>Personal Details</h6>
          <p>Name:<span>{{form.sectionD.name}}</span></p>
          <p>Age:<span> {{form.sectionD.age}}</span></p>
          <p>Gender:<span> {{form.sectionD.gender}}</span></p>
          <p>Contact number:<span> {{form.sectionD.contactNumber}}</span></p>
         <p>Relation name:<span> {{form.sectionA.otherName}}</span></p>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>

