.container {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
h2 {
  text-decoration: underline;
}
button {
  margin-right: 20px;
  box-shadow: 0px 0px 4px 4px #dbdbdb;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
}
.button{
  margin-right: 10px;
}
.list-item-container{
  text-align: left;
}
.list-item-container p{
  line-height: 50%;
  font-size: 18px;
  color: #020c3b;
  flex-wrap: wrap;
}

@media (max-width:800px){
  .list-item-container p{
    line-height: 100%;
  }
}
span{
  font-size: 19px;
}
h4{
  font-weight: 600;
  color: #020c3b;
  font-family: 'Times New Roman', Times, serif;
}
h6{
  font-weight: 600;
  color: #020c3b;
  font-size: 18px;
}
.card{
  padding: 15px;
  box-shadow: 0px 0px 2px 2px #f5f4f4;
}
.card-body{
  margin-bottom: 5px;
  padding: 20px;
}
.edit-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-dark{
  margin-bottom: 20px;
}
.delete{
  border: none;
  font-size: 27px;
  background: transparent;
  color: red;
  box-shadow: none;

}
.edit{
  border: none;
  font-size: 27px;
  background: transparent;
  box-shadow: none;
  color: cornflowerblue;
}
.plus-btn{
  background:rgb(241, 238, 238);
  color: rgb(19, 3, 112);
  box-shadow: none;
  border: none;
  border-radius: 20px;
  height: 26px;
}
